body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products {
  display: flex;
}

.--container-background {
  background-color: #e8e8e8;
  width: auto;
  height: 100rem;
}

.--container-wrapper {
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --primary-color: #ee4d2d;
}

.flex {
  display: flex;
}

.items-center {
  justify-content: center;
  align-items: center;
}
