<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Shopeeclone Account Activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Hello, <span th:text="${firstName}"></span> !
</p>
<p>
    You have been successfully signing up for an <b>ShopeeClone Account</b>. You are just one step away from getting started.<br />
    Please click the link below to activate your account.
    <br>
    <a th:href = "${registrationUrl}">
        <span th:text="${registrationUrl}"></span>
    </a>
</p>
<p>
    Thanks, <br />
    <em>The ShopeeClone Teams</em>
</p>
<br />
<p>
    This is an automated email. Please do not reply.
</p>
</body>
</html>