.--main-container {
  /* background-color: #e8e8e8; */
  width: 100%;
  height: 100rem;
  margin-top: 2rem;
  padding-top: 2rem;
}
.--stardust-tab-header {
  background-color: #fff;
  color: #ee4c2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 3px solid #ee4c2b;
}
.--stardust-tab-header-underline {
  color: #ee4c2b;
  height: 3px;
  width: 100%;
}

.--product-list {
  display: flex;
  padding-top: 0.5rem;
}
.--product {
  display: flex;
  flex-direction: column;
  max-width: 16.66667%;
  height: 18.25rem;
  padding: 0 0.3125rem;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
}
.--product-image-ad {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.--img-box-product {
  width: 11.75rem;
  height: 11.75rem;
}

.--product-description-sale-box {
  padding: 0.5rem;
}

.--product-description-box {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.75rem;
  overflow: hidden;
}

.--product-sale-box {
  display: flex;
  padding-top: 1rem;
  color: #ee4c2b;
  justify-content: space-between;
}
.--product-sale-box .qty_sold {
  color: #515151;
  font-size: 0.8rem;
  align-self: flex-end;
}
.--product-description-box {
  color: #515151;
}
