.--navbar-with-search {
  background-color: linear-gradient(#ee4d2d, #ff7337);
  height: 5.3rem;
}

.--navbar-wrapper {
  background-color: #ee4d2d;
  /* height: 2.125rem; */
  /* padding-left: 0%; */
  font-size: 0.8125rem;
  color: #fff;
}

.--navbar-content {
  display: flex;
  justify-content: space-between;
}
.--navbar-text {
  color: #fff;
  font: 13px;
  padding: 0 4px;
  border: 1px;
  text-decoration: none;
}

.--navbar-icon {
  color: #fff;
  height: 1rem;
  width: 1rem;
}

.--left-navbar {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* =====================RIGHT NAV BAR===================== */
.--right-navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.--sign-log {
  font-weight: 600;
  padding: 0 0.625rem;
}

.--navbar-seperator {
  height: 0.8125rem;
  border-left: 1px solid rgb(166, 165, 165);
}

.popup-nav-greeting {
  display: block;
}

#greeting-tab:hover + .popup-nav-greeting { 
  display: block;
}